@page 
@model DetallesModels

<h1>Detalles Leches</h1>

<dl>
   <dt>Nombre:</dt> 
   <dd>@Model.Detalle.Nombre</dd>
   <dt>Marca:</dt> 
   <dd>@Model.Detalle.Marca</dd>
   <dt>Etapa:</dt> 
   <dd>@Model.Detalle.Etapa</dd>
</dl>