@page
@model CrearModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1> Crear un estudiante </h1>

<div asp-validation-summary="All"></div>
<form method="POST">
  <div class="form-group">
    <label for="NumeroControl">Numero Control</label>
    <input type="text" asp-for="NumeroControl" class="form-control"
         id="NumeroControl" aria-describedby="">
    <span asp-validation-for="NumeroControl"></span>
  </div>
  <div class="form-group">
    <label for="Nombre">Nombre</label>
    <input type="text"asp-for="Nombre" class="form-control"
          aria-describedby="">
         <span asp-validation-for="Nombre"></span>
    
  </div>
  <div class="form-group">
    <label for="Carrera">Carrera</label>
    <input type="text" class="form-control"
        name="Carrera" id="Carrera" aria-describedby="">
    
  </div>
  <div class="form-group">
    <label for="Promedio">Promedio</label>
    <input type="text" class="form-control"
        name="Promedio" id="Promedio" aria-describedby="">
    
  </div>
  
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control"
        name="Password" id="Password" aria-describedby="">
    
  </div>
  <div class="form-group">
    <label for="ConfirmarPassword"> Confirmar Password</label>
    <input type="password" class="form-control"
        name="ConfirmarPassword" id="ConfirmarPassword" aria-describedby="">
    
  </div>

  <button type="submit" class="btn btn-primary">Crear</button>
</form>