@page 
@model DetallesModel

<h1>Detalles </h1>

<dl>
   <dt>Nombre:</dt> 
   <dd>@Model.Detalle.Nombre</dd>
   <dt>Numero Control:</dt> 
   <dd>@Model.Detalle.NumeroControl</dd>
   <dt>Carrera:</dt> 
   <dd>@Model.Detalle.Carrera</dd>
   <dt>Promedio:</dt> 
   <dd>@Model.Detalle.Promedio</dd>
</dl>