@page 
@model DetallesModel

<h1>Detalles Libros </h1>

<dl>
   <dt>Titulo:</dt> 
   <dd>@Model.Detalle.Titulo</dd>
   <dt>Genero:</dt> 
   <dd>@Model.Detalle.Genero</dd>
   <dt>Precio:</dt> 
   <dd>@Model.Detalle.Precio</dd>
</dl>